In [4]:
import pandas as pd
import numpy as np

DATA_PATH = r"../data/raw/GSE2034_series_matrix.txtGSE2034_series_matrix.txt"

In [8]:
start_idx = None
for i, line in enumerate(lines):
    if line.strip() == "!series_matrix_table_begin":
        start_idx = i + 1
        break

start_idx

54

In [9]:
df = pd.read_csv(
    DATA_PATH,
    sep="\t",
    skiprows=start_idx
)

df.head()

,ID_REF,GSM36777,GSM36778,GSM36779,GSM36780,GSM36781,GSM36782,GSM36783,GSM36784,GSM36785,...,GSM37053,GSM37054,GSM37055,GSM37056,GSM37057,GSM37058,GSM37059,GSM37060,GSM37061,GSM37062
0,1007_s_at,3848.1,6520.9,5285.7,4043.7,4263.6,2949.8,5498.9,3863.1,3370.4,...,4058.2,4017.6,2841.0,2914.2,3681.0,3066.9,2773.0,2984.3,3540.0,2620.0
1,1053_at,228.9,112.5,178.4,398.7,417.7,221.2,280.4,198.2,304.7,...,183.4,356.1,234.6,169.4,94.5,265.5,209.8,160.0,285.7,180.5
2,117_at,213.1,189.8,269.7,312.4,327.1,225.0,243.5,244.4,348.5,...,326.6,234.9,369.6,149.5,236.4,347.9,226.7,252.9,135.1,191.8
3,121_at,1009.4,2083.3,1203.4,1104.4,1043.3,1117.6,1085.4,1423.1,1196.4,...,1041.3,1195.6,751.5,1117.8,1022.4,1127.4,1071.8,1178.5,1256.7,1284.6
4,1255_g_at,31.8,145.8,42.5,108.2,69.2,47.4,84.3,102.0,22.8,...,143.5,32.7,62.6,43.0,100.5,47.0,45.1,146.3,75.9,87.4

In [10]:
df.columns[:5]

Index(['ID_REF', 'GSM36777', 'GSM36778', 'GSM36779', 'GSM36780'], dtype='object')

In [12]:
expression_df = df.set_index("ID_REF").T
expression_df.head()

ID_REF,1007_s_at,1053_at,117_at,121_at,1255_g_at,1294_at,1316_at,1320_at,1405_i_at,1431_at,...,AFFX-r2-Hs28SrRNA-M_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at,!series_matrix_table_end
GSM36777,3848.1,228.9,213.1,1009.4,31.8,551.5,176.7,11.9,309.3,49.9,...,661.5,33168.9,25644.4,11.1,9.2,25.0,4.2,7.0,10.0,NaN
GSM36778,6520.9,112.5,189.8,2083.3,145.8,802.8,278.4,28.3,449.0,122.9,...,716.1,54401.4,40720.0,17.1,62.0,21.4,9.3,11.2,15.7,NaN
GSM36779,5285.7,178.4,269.7,1203.4,42.5,557.5,183.3,56.4,101.9,85.9,...,1189.3,61244.1,50878.7,6.4,8.4,7.4,7.1,64.0,4.1,NaN
GSM36780,4043.7,398.7,312.4,1104.4,108.2,568.5,187.7,42.1,899.1,90.7,...,801.1,62292.1,46870.8,13.5,10.8,16.0,4.6,12.2,7.3,NaN
GSM36781,4263.6,417.7,327.1,1043.3,69.2,653.2,185.8,21.8,3629.3,96.0,...,191.1,57295.1,40847.1,19.8,30.5,22.1,7.3,5.5,11.6,NaN

In [13]:
labels = []

for line in lines:
    if line.startswith("!Sample_characteristics_ch1"):
        labels = line.strip().split("\t")[1:]
        break

labels[:5]

['"bone relapses (1=yes, 0=no): 0"',
 '"bone relapses (1=yes, 0=no): 0"',
 '"bone relapses (1=yes, 0=no): 0"',
 '"bone relapses (1=yes, 0=no): 0"',
 '"bone relapses (1=yes, 0=no): 0"']

In [14]:
y = [1 if "yes" in l.lower() else 0 for l in labels]

y = pd.Series(y, index=expression_df.index, name="metastasis")

In [15]:
expression_df.shape, y.shape

((286, 22284), (286,))